<%= render 'layouts/flash' %>
<div class="container text-center m-5">
  <p>By subscribing, you will receive the latest information about COVID-19 everyday at 03:00PM and 08:00PM (Eastern Time).</p>
  <%= link_to 'Return to main page', root_url %>
</div>